* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    margin: 10px 50px;
}

.logo {
    display: inline-block;
    height: 2.5rem;
}

.logo>img {
    height: 100%;
}

.header-menu {
    flex-grow: 1;
    text-align: right;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    height: calc(100vh - 100px);
}

#grid {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.message {}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#grid.easy .square {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

#grid.hard .square {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

#grid.crazy .square {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.clicked {
    background-color: lightskyblue;
}

.bomb {
    background-color: red;
}

.no-pointer {
    pointer-events: none;
}

footer {
    height: 50px;
    padding: 10px;
}